<div id="order-form" class="order-form">
    <label for="campo">Campo:</label>
    <select name="campo" id="campo" required class="form-control select-order">
        <option value="">Escoga una Opcion</option>
        <option value="folio">FOLIO</option>
        <option value="numDocumento">DOCUMENTO</option>
        <option value="idRemitente">REMITENTE</option>
        <option value="idTurnado">TURNADO</option>
        <option value="fRecepcion">FECHA</option>
        <option value="extemporaneo">DESFAZADO</option>
        <option value="nombre">OFICIO</option>
        <option value="estadoProceso">ESTADO</option>
    </select>

    <label for="tipo">Tipo:</label>
    <select name="tipo" id="tipo" required class="form-control select-order">
        <option value="">Escoga una Opcion</option>
        <option value="asc">Ascendente</option>
        <option value="desc">Descendente</option>
    </select>
    <label for="year">Año</label>
    <select name="year" id="year" class="form-control select-order">
        <option value="">Año</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
    </select>

</div>
